{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "chrome": "60"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "lodash",
        "styled-jsx/babel",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "@babel/plugin-proposal-object-rest-spread",
            {
                "loose": true
            }
        ]
    ]
}
