{
    "root": true,
    "parser": "babel-eslint",
    "env": {
        "node": true
    },
    "plugins": ["node"],
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "globals": {"_": true, "log": true, "__DEV__": true, "__TEST__": true},
    "rules": {
        "prefer-const": "warn",
        "node/no-unpublished-require": [
            "warn",
            {
                "allowModules": ["aws-sdk", "longjohn", "morgan"]
            }
        ]
    }
}
